<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@KERN_LEFT_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Amacron</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>Aogonek</string>
		<string>Abreve</string>
	</array>
	<key>@KERN_LEFT_Aacutesmall</key>
	<array>
		<string>Asmall</string>
		<string>Agravesmall</string>
		<string>Adieresissmall</string>
		<string>Aringsmall</string>
		<string>Acircumflexsmall</string>
		<string>Aacutesmall</string>
		<string>uniF66F</string>
		<string>uniF66E</string>
		<string>uniF66D</string>
		<string>Atildesmall</string>
	</array>
	<key>@KERN_LEFT_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccaron</string>
	</array>
	<key>@KERN_LEFT_Ccedillasmall</key>
	<array>
		<string>uniF671</string>
		<string>uniF672</string>
		<string>Ccedillasmall</string>
		<string>Csmall</string>
	</array>
	<key>@KERN_LEFT_D</key>
	<array>
		<string>Eth</string>
		<string>Dcroat</string>
		<string>D</string>
		<string>Dcaron</string>
	</array>
	<key>@KERN_LEFT_Dsmall</key>
	<array>
		<string>uniF675</string>
		<string>uniF676</string>
		<string>Dsmall</string>
	</array>
	<key>@KERN_LEFT_E</key>
	<array>
		<string>Ecaron</string>
		<string>Egrave</string>
		<string>Eogonek</string>
		<string>E</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edotaccent</string>
	</array>
	<key>@KERN_LEFT_Eacutesmall</key>
	<array>
		<string>uniF678</string>
		<string>uniF679</string>
		<string>Edieresissmall</string>
		<string>uniF67A</string>
		<string>uniF67C</string>
		<string>Ecircumflexsmall</string>
		<string>Eacutesmall</string>
		<string>Egravesmall</string>
		<string>Esmall</string>
	</array>
	<key>@KERN_LEFT_G</key>
	<array>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>G</string>
	</array>
	<key>@KERN_LEFT_Gsmall</key>
	<array>
		<string>Gsmall</string>
		<string>uniF67D</string>
		<string>uniF67F</string>
	</array>
	<key>@KERN_LEFT_I</key>
	<array>
		<string>Iacute</string>
		<string>Iogonek</string>
		<string>Imacron</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Icircumflex</string>
		<string>I</string>
		<string>Idieresis</string>
	</array>
	<key>@KERN_LEFT_Iacutesmall</key>
	<array>
		<string>uniF6AD</string>
		<string>Idieresissmall</string>
		<string>uniF686</string>
		<string>Ismall</string>
		<string>Igravesmall</string>
		<string>Icircumflexsmall</string>
		<string>uniF685</string>
		<string>Iacutesmall</string>
	</array>
	<key>@KERN_LEFT_K</key>
	<array>
		<string>Kcommaaccent</string>
		<string>K</string>
	</array>
	<key>@KERN_LEFT_Ksmall</key>
	<array>
		<string>uniF689</string>
		<string>Ksmall</string>
	</array>
	<key>@KERN_LEFT_L</key>
	<array>
		<string>Lslash</string>
		<string>Lcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
	</array>
	<key>@KERN_LEFT_Lslashsmall</key>
	<array>
		<string>uniF68A</string>
		<string>uniF68C</string>
		<string>uniF68B</string>
		<string>Lslashsmall</string>
		<string>Lsmall</string>
	</array>
	<key>@KERN_LEFT_N</key>
	<array>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>N</string>
	</array>
	<key>@KERN_LEFT_Nsmall</key>
	<array>
		<string>Ntildesmall</string>
		<string>uniF68E</string>
		<string>Nsmall</string>
		<string>uniF690</string>
		<string>uniF68F</string>
	</array>
	<key>@KERN_LEFT_O</key>
	<array>
		<string>Oslash</string>
		<string>Omacron</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>O</string>
		<string>Oacute</string>
	</array>
	<key>@KERN_LEFT_Oacutesmall</key>
	<array>
		<string>Oslashsmall</string>
		<string>Odieresissmall</string>
		<string>Osmall</string>
		<string>uniF692</string>
		<string>uniF693</string>
		<string>Otildesmall</string>
		<string>Oacutesmall</string>
		<string>Ocircumflexsmall</string>
		<string>Ogravesmall</string>
	</array>
	<key>@KERN_LEFT_R</key>
	<array>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>R</string>
		<string>Rcaron</string>
	</array>
	<key>@KERN_LEFT_Rsmall</key>
	<array>
		<string>uniF696</string>
		<string>Rsmall</string>
		<string>uniF695</string>
		<string>uniF697</string>
	</array>
	<key>@KERN_LEFT_S</key>
	<array>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>Sacute</string>
		<string>S</string>
		<string>Scaron</string>
	</array>
	<key>@KERN_LEFT_Scaronsmall</key>
	<array>
		<string>Ssmall</string>
		<string>uniF69B</string>
		<string>uniF698</string>
		<string>Scaronsmall</string>
		<string>uniF699</string>
	</array>
	<key>@KERN_LEFT_T</key>
	<array>
		<string>uni021A</string>
		<string>Tcommaaccent</string>
		<string>T</string>
		<string>Tcaron</string>
	</array>
	<key>@KERN_LEFT_T_h</key>
	<array>
		<string>h</string>
		<string>T_h</string>
		<string>T_h.caron</string>
		<string>T_h.commaaccent</string>
	</array>
	<key>@KERN_LEFT_Tsmall</key>
	<array>
		<string>uniF69D</string>
		<string>uniF69E</string>
		<string>Tsmall</string>
	</array>
	<key>@KERN_LEFT_U</key>
	<array>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uacute</string>
		<string>Uring</string>
		<string>Ugrave</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>U</string>
	</array>
	<key>@KERN_LEFT_Uacutesmall</key>
	<array>
		<string>Udieresissmall</string>
		<string>Uacutesmall</string>
		<string>Ucircumflexsmall</string>
		<string>Ugravesmall</string>
		<string>Usmall</string>
		<string>uniF6A2</string>
		<string>uniF6A3</string>
		<string>uniF6A0</string>
		<string>uniF6A1</string>
	</array>
	<key>@KERN_LEFT_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
	</array>
	<key>@KERN_LEFT_Yacutesmall</key>
	<array>
		<string>Ysmall</string>
		<string>Yacutesmall</string>
		<string>Ydieresissmall</string>
	</array>
	<key>@KERN_LEFT_Z</key>
	<array>
		<string>Zacute</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@KERN_LEFT_Zcaronsmall</key>
	<array>
		<string>Zsmall</string>
		<string>Zcaronsmall</string>
		<string>uniF6AB</string>
		<string>uniF6AC</string>
	</array>
	<key>@KERN_LEFT_a</key>
	<array>
		<string>a</string>
		<string>aring</string>
		<string>adieresis</string>
		<string>aacute</string>
		<string>amacron</string>
		<string>agrave</string>
		<string>atilde</string>
		<string>acircumflex</string>
		<string>aogonek</string>
		<string>abreve</string>
	</array>
	<key>@KERN_LEFT_braceleft</key>
	<array>
		<string>uniF6B2</string>
		<string>braceleft</string>
	</array>
	<key>@KERN_LEFT_bracketleft</key>
	<array>
		<string>bracketleft</string>
		<string>uniF6B0</string>
	</array>
	<key>@KERN_LEFT_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccaron</string>
	</array>
	<key>@KERN_LEFT_d</key>
	<array>
		<string>dcroat</string>
		<string>d</string>
		<string>dcaron</string>
	</array>
	<key>@KERN_LEFT_dotlessi</key>
	<array>
		<string>iacute</string>
		<string>iogonek</string>
		<string>imacron</string>
		<string>igrave</string>
		<string>icircumflex</string>
		<string>i</string>
		<string>ffi</string>
		<string>fi</string>
		<string>dotlessi</string>
		<string>idieresis</string>
	</array>
	<key>@KERN_LEFT_e</key>
	<array>
		<string>ecaron</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>eacute</string>
		<string>e</string>
		<string>edotaccent</string>
	</array>
	<key>@KERN_LEFT_emdash</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>threequartersemdash</string>
		<string>uni00AD</string>
	</array>
	<key>@KERN_LEFT_f</key>
	<array>
		<string>ff</string>
		<string>f</string>
	</array>
	<key>@KERN_LEFT_f_f_j</key>
	<array>
		<string>f_f_j</string>
		<string>f_j</string>
		<string>j</string>
	</array>
	<key>@KERN_LEFT_ffl</key>
	<array>
		<string>ffl</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lslash</string>
		<string>lcommaaccent</string>
		<string>fl</string>
		<string>l</string>
	</array>
	<key>@KERN_LEFT_g</key>
	<array>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>g</string>
	</array>
	<key>@KERN_LEFT_guillemotleft</key>
	<array>
		<string>uniF6B6</string>
		<string>uniF6B8</string>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@KERN_LEFT_guillemotright</key>
	<array>
		<string>uniF6B7</string>
		<string>guillemotright</string>
		<string>guilsinglright</string>
		<string>uniF6B9</string>
	</array>
	<key>@KERN_LEFT_k</key>
	<array>
		<string>kcommaaccent</string>
		<string>k</string>
	</array>
	<key>@KERN_LEFT_n</key>
	<array>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>n</string>
	</array>
	<key>@KERN_LEFT_o</key>
	<array>
		<string>oslash</string>
		<string>omacron</string>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>o</string>
		<string>oacute</string>
	</array>
	<key>@KERN_LEFT_parenleft</key>
	<array>
		<string>uniF6AE</string>
		<string>parenleft</string>
	</array>
	<key>@KERN_LEFT_r</key>
	<array>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>r</string>
		<string>rcaron</string>
	</array>
	<key>@KERN_LEFT_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scommaaccent</string>
		<string>scaron</string>
		<string>scedilla</string>
	</array>
	<key>@KERN_LEFT_t</key>
	<array>
		<string>tcommaaccent</string>
		<string>t</string>
		<string>uni021B</string>
		<string>tcaron</string>
	</array>
	<key>@KERN_LEFT_u</key>
	<array>
		<string>udieresis</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uacute</string>
		<string>uring</string>
		<string>ugrave</string>
		<string>uogonek</string>
		<string>ucircumflex</string>
		<string>u</string>
	</array>
	<key>@KERN_LEFT_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
	<key>@KERN_LEFT_z</key>
	<array>
		<string>zacute</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@KERN_RIGHT_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Amacron</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>Aogonek</string>
		<string>Abreve</string>
	</array>
	<key>@KERN_RIGHT_Aacutesmall</key>
	<array>
		<string>Asmall</string>
		<string>Agravesmall</string>
		<string>Adieresissmall</string>
		<string>Aringsmall</string>
		<string>Acircumflexsmall</string>
		<string>Aacutesmall</string>
		<string>uniF66F</string>
		<string>uniF66E</string>
		<string>uniF66D</string>
		<string>Atildesmall</string>
	</array>
	<key>@KERN_RIGHT_C</key>
	<array>
		<string>Ccedilla</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
	</array>
	<key>@KERN_RIGHT_Ccedillasmall</key>
	<array>
		<string>uniF671</string>
		<string>uniF672</string>
		<string>Ccedillasmall</string>
		<string>Csmall</string>
	</array>
	<key>@KERN_RIGHT_D</key>
	<array>
		<string>Eth</string>
		<string>Dcroat</string>
		<string>D</string>
		<string>Dcaron</string>
	</array>
	<key>@KERN_RIGHT_Dsmall</key>
	<array>
		<string>uniF675</string>
		<string>uniF676</string>
		<string>Dsmall</string>
	</array>
	<key>@KERN_RIGHT_E</key>
	<array>
		<string>Ecaron</string>
		<string>Egrave</string>
		<string>Eogonek</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Eacute</string>
		<string>E</string>
		<string>Edotaccent</string>
	</array>
	<key>@KERN_RIGHT_Eacutesmall</key>
	<array>
		<string>uniF678</string>
		<string>uniF679</string>
		<string>Edieresissmall</string>
		<string>uniF67A</string>
		<string>uniF67C</string>
		<string>Ecircumflexsmall</string>
		<string>Eacutesmall</string>
		<string>Egravesmall</string>
		<string>Esmall</string>
	</array>
	<key>@KERN_RIGHT_G</key>
	<array>
		<string>Gbreve</string>
		<string>G</string>
		<string>Gcommaaccent</string>
	</array>
	<key>@KERN_RIGHT_Gsmall</key>
	<array>
		<string>Gsmall</string>
		<string>uniF67D</string>
		<string>uniF67F</string>
	</array>
	<key>@KERN_RIGHT_I</key>
	<array>
		<string>Iacute</string>
		<string>Iogonek</string>
		<string>Imacron</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Icircumflex</string>
		<string>I</string>
		<string>Idieresis</string>
	</array>
	<key>@KERN_RIGHT_Iacutesmall</key>
	<array>
		<string>uniF6AD</string>
		<string>Idieresissmall</string>
		<string>uniF686</string>
		<string>Ismall</string>
		<string>Igravesmall</string>
		<string>Icircumflexsmall</string>
		<string>uniF685</string>
		<string>Iacutesmall</string>
	</array>
	<key>@KERN_RIGHT_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@KERN_RIGHT_Ksmall</key>
	<array>
		<string>uniF689</string>
		<string>Ksmall</string>
	</array>
	<key>@KERN_RIGHT_L</key>
	<array>
		<string>Lslash</string>
		<string>Lcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
	</array>
	<key>@KERN_RIGHT_Lslashsmall</key>
	<array>
		<string>uniF68A</string>
		<string>uniF68C</string>
		<string>uniF68B</string>
		<string>Lslashsmall</string>
		<string>Lsmall</string>
	</array>
	<key>@KERN_RIGHT_N</key>
	<array>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>N</string>
	</array>
	<key>@KERN_RIGHT_Nsmall</key>
	<array>
		<string>Ntildesmall</string>
		<string>uniF68E</string>
		<string>Nsmall</string>
		<string>uniF690</string>
		<string>uniF68F</string>
	</array>
	<key>@KERN_RIGHT_O</key>
	<array>
		<string>Oslash</string>
		<string>Omacron</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>O</string>
		<string>Oacute</string>
	</array>
	<key>@KERN_RIGHT_Oacutesmall</key>
	<array>
		<string>Oslashsmall</string>
		<string>Odieresissmall</string>
		<string>Osmall</string>
		<string>uniF692</string>
		<string>uniF693</string>
		<string>Otildesmall</string>
		<string>Oacutesmall</string>
		<string>Ocircumflexsmall</string>
		<string>Ogravesmall</string>
	</array>
	<key>@KERN_RIGHT_R</key>
	<array>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>R</string>
		<string>Rcaron</string>
	</array>
	<key>@KERN_RIGHT_Rsmall</key>
	<array>
		<string>uniF696</string>
		<string>Rsmall</string>
		<string>uniF695</string>
		<string>uniF697</string>
	</array>
	<key>@KERN_RIGHT_S</key>
	<array>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>Sacute</string>
		<string>S</string>
		<string>Scaron</string>
	</array>
	<key>@KERN_RIGHT_Scaronsmall</key>
	<array>
		<string>Ssmall</string>
		<string>uniF69B</string>
		<string>uniF698</string>
		<string>Scaronsmall</string>
		<string>uniF699</string>
	</array>
	<key>@KERN_RIGHT_T</key>
	<array>
		<string>uni021A</string>
		<string>Tcommaaccent</string>
		<string>T</string>
		<string>Tcaron</string>
	</array>
	<key>@KERN_RIGHT_Tsmall</key>
	<array>
		<string>uniF69D</string>
		<string>uniF69E</string>
		<string>Tsmall</string>
	</array>
	<key>@KERN_RIGHT_U</key>
	<array>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uacute</string>
		<string>Uring</string>
		<string>Ugrave</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>U</string>
	</array>
	<key>@KERN_RIGHT_Uacutesmall</key>
	<array>
		<string>Udieresissmall</string>
		<string>Uacutesmall</string>
		<string>Ucircumflexsmall</string>
		<string>Ugravesmall</string>
		<string>Usmall</string>
		<string>uniF6A2</string>
		<string>uniF6A3</string>
		<string>uniF6A0</string>
		<string>uniF6A1</string>
	</array>
	<key>@KERN_RIGHT_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
	</array>
	<key>@KERN_RIGHT_Yacutesmall</key>
	<array>
		<string>Ysmall</string>
		<string>Yacutesmall</string>
		<string>Ydieresissmall</string>
	</array>
	<key>@KERN_RIGHT_Z</key>
	<array>
		<string>Zacute</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@KERN_RIGHT_Zcaronsmall</key>
	<array>
		<string>Zsmall</string>
		<string>Zcaronsmall</string>
		<string>uniF6AB</string>
		<string>uniF6AC</string>
	</array>
	<key>@KERN_RIGHT__empty_lu.0_st.1_cl.0</key>
	<array>
	</array>
	<key>@KERN_RIGHT_a</key>
	<array>
		<string>a</string>
		<string>aring</string>
		<string>adieresis</string>
		<string>aacute</string>
		<string>amacron</string>
		<string>agrave</string>
		<string>atilde</string>
		<string>acircumflex</string>
		<string>aogonek</string>
		<string>abreve</string>
	</array>
	<key>@KERN_RIGHT_braceright</key>
	<array>
		<string>uniF6B3</string>
		<string>braceright</string>
	</array>
	<key>@KERN_RIGHT_bracketright</key>
	<array>
		<string>uniF6B1</string>
		<string>bracketright</string>
	</array>
	<key>@KERN_RIGHT_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccaron</string>
	</array>
	<key>@KERN_RIGHT_d</key>
	<array>
		<string>dcroat</string>
		<string>d</string>
		<string>dcaron</string>
	</array>
	<key>@KERN_RIGHT_dotlessi</key>
	<array>
		<string>iacute</string>
		<string>iogonek</string>
		<string>imacron</string>
		<string>igrave</string>
		<string>icircumflex</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>idieresis</string>
	</array>
	<key>@KERN_RIGHT_e</key>
	<array>
		<string>ecaron</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>eacute</string>
		<string>e</string>
		<string>edotaccent</string>
	</array>
	<key>@KERN_RIGHT_emdash</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>threequartersemdash</string>
		<string>uni00AD</string>
	</array>
	<key>@KERN_RIGHT_f</key>
	<array>
		<string>ffl</string>
		<string>ff</string>
		<string>ffi</string>
		<string>f</string>
		<string>fi</string>
		<string>f_f_j</string>
		<string>f_j</string>
	</array>
	<key>@KERN_RIGHT_g</key>
	<array>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>g</string>
	</array>
	<key>@KERN_RIGHT_guillemotleft</key>
	<array>
		<string>uniF6B6</string>
		<string>uniF6B8</string>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@KERN_RIGHT_guillemotright</key>
	<array>
		<string>uniF6B7</string>
		<string>guillemotright</string>
		<string>guilsinglright</string>
		<string>uniF6B9</string>
	</array>
	<key>@KERN_RIGHT_k</key>
	<array>
		<string>kcommaaccent</string>
		<string>k</string>
	</array>
	<key>@KERN_RIGHT_l</key>
	<array>
		<string>lslash</string>
		<string>lcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
	</array>
	<key>@KERN_RIGHT_n</key>
	<array>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>n</string>
	</array>
	<key>@KERN_RIGHT_o</key>
	<array>
		<string>oslash</string>
		<string>omacron</string>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>o</string>
		<string>oacute</string>
	</array>
	<key>@KERN_RIGHT_parenright</key>
	<array>
		<string>uniF6AF</string>
		<string>parenright</string>
	</array>
	<key>@KERN_RIGHT_r</key>
	<array>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>r</string>
		<string>rcaron</string>
	</array>
	<key>@KERN_RIGHT_s</key>
	<array>
		<string>scommaaccent</string>
		<string>sacute</string>
		<string>s</string>
		<string>scaron</string>
		<string>scedilla</string>
	</array>
	<key>@KERN_RIGHT_t</key>
	<array>
		<string>tcommaaccent</string>
		<string>t</string>
		<string>uni021B</string>
		<string>tcaron</string>
	</array>
	<key>@KERN_RIGHT_u</key>
	<array>
		<string>udieresis</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uacute</string>
		<string>uring</string>
		<string>ugrave</string>
		<string>uogonek</string>
		<string>ucircumflex</string>
		<string>u</string>
	</array>
	<key>@KERN_RIGHT_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
	<key>@KERN_RIGHT_z</key>
	<array>
		<string>zacute</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
