<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>AEsmall</key>
	<string>AEsmall_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Aacutesmall</key>
	<string>Aacutesmall_.glif</string>
	<key>Abreve</key>
	<string>Abreve_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Acircumflexsmall</key>
	<string>Acircumflexsmall_.glif</string>
	<key>Acute</key>
	<string>Acute_.glif</string>
	<key>Acutesmall</key>
	<string>Acutesmall_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Adieresissmall</key>
	<string>Adieresissmall_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Agravesmall</key>
	<string>Agravesmall_.glif</string>
	<key>Amacron</key>
	<string>Amacron_.glif</string>
	<key>Aogonek</key>
	<string>Aogonek_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Aringsmall</key>
	<string>Aringsmall_.glif</string>
	<key>Asmall</key>
	<string>Asmall_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>Atildesmall</key>
	<string>Atildesmall_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>Brevesmall</key>
	<string>Brevesmall_.glif</string>
	<key>Bsmall</key>
	<string>Bsmall_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>Cacute_.glif</string>
	<key>Caron</key>
	<string>Caron_.glif</string>
	<key>Caronsmall</key>
	<string>Caronsmall_.glif</string>
	<key>Ccaron</key>
	<string>Ccaron_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>Ccedillasmall</key>
	<string>Ccedillasmall_.glif</string>
	<key>Cedillasmall</key>
	<string>Cedillasmall_.glif</string>
	<key>Circumflexsmall</key>
	<string>Circumflexsmall_.glif</string>
	<key>Csmall</key>
	<string>Csmall_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>Dcaron_.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>Delta</key>
	<string>Delta_.glif</string>
	<key>Dieresis</key>
	<string>Dieresis_.glif</string>
	<key>Dieresissmall</key>
	<string>Dieresissmall_.glif</string>
	<key>Dotaccentsmall</key>
	<string>Dotaccentsmall_.glif</string>
	<key>Dsmall</key>
	<string>Dsmall_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Eacutesmall</key>
	<string>Eacutesmall_.glif</string>
	<key>Ecaron</key>
	<string>Ecaron_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Ecircumflexsmall</key>
	<string>Ecircumflexsmall_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edieresissmall</key>
	<string>Edieresissmall_.glif</string>
	<key>Edotaccent</key>
	<string>Edotaccent_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Egravesmall</key>
	<string>Egravesmall_.glif</string>
	<key>Emacron</key>
	<string>Emacron_.glif</string>
	<key>Eogonek</key>
	<string>Eogonek_.glif</string>
	<key>Esmall</key>
	<string>Esmall_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Ethsmall</key>
	<string>Ethsmall_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>Euro.fitted</key>
	<string>Euro_.fitted.glif</string>
	<key>Euro.oldstyle</key>
	<string>Euro_.oldstyle.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>Fsmall</key>
	<string>Fsmall_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>Gbreve_.glif</string>
	<key>Gcommaaccent</key>
	<string>Gcommaaccent_.glif</string>
	<key>Grave</key>
	<string>Grave_.glif</string>
	<key>Gravesmall</key>
	<string>Gravesmall_.glif</string>
	<key>Gsmall</key>
	<string>Gsmall_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hsmall</key>
	<string>Hsmall_.glif</string>
	<key>Hungarumlaut</key>
	<string>Hungarumlaut_.glif</string>
	<key>Hungarumlautsmall</key>
	<string>Hungarumlautsmall_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Iacutesmall</key>
	<string>Iacutesmall_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Icircumflexsmall</key>
	<string>Icircumflexsmall_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Idieresissmall</key>
	<string>Idieresissmall_.glif</string>
	<key>Idotaccent</key>
	<string>Idotaccent_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Igravesmall</key>
	<string>Igravesmall_.glif</string>
	<key>Imacron</key>
	<string>Imacron_.glif</string>
	<key>Iogonek</key>
	<string>Iogonek_.glif</string>
	<key>Ismall</key>
	<string>Ismall_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>Jsmall</key>
	<string>Jsmall_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>Kcommaaccent_.glif</string>
	<key>Ksmall</key>
	<string>Ksmall_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>Lacute_.glif</string>
	<key>Lcaron</key>
	<string>Lcaron_.glif</string>
	<key>Lcommaaccent</key>
	<string>Lcommaaccent_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>Lslashsmall</key>
	<string>Lslashsmall_.glif</string>
	<key>Lsmall</key>
	<string>Lsmall_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>Macron</key>
	<string>Macron_.glif</string>
	<key>Macronsmall</key>
	<string>Macronsmall_.glif</string>
	<key>Msmall</key>
	<string>Msmall_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>Nacute_.glif</string>
	<key>Ncaron</key>
	<string>Ncaron_.glif</string>
	<key>Ncommaaccent</key>
	<string>Ncommaaccent_.glif</string>
	<key>Nsmall</key>
	<string>Nsmall_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>Ntildesmall</key>
	<string>Ntildesmall_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>OEsmall</key>
	<string>OEsmall_.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Oacutesmall</key>
	<string>Oacutesmall_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Ocircumflexsmall</key>
	<string>Ocircumflexsmall_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Odieresissmall</key>
	<string>Odieresissmall_.glif</string>
	<key>Ogoneksmall</key>
	<string>Ogoneksmall_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Ogravesmall</key>
	<string>Ogravesmall_.glif</string>
	<key>Ohungarumlaut</key>
	<string>Ohungarumlaut_.glif</string>
	<key>Omacron</key>
	<string>Omacron_.glif</string>
	<key>Omega</key>
	<string>Omega_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Oslashsmall</key>
	<string>Oslashsmall_.glif</string>
	<key>Osmall</key>
	<string>Osmall_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>Otildesmall</key>
	<string>Otildesmall_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Psmall</key>
	<string>Psmall_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Qsmall</key>
	<string>Qsmall_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>Racute_.glif</string>
	<key>Rcaron</key>
	<string>Rcaron_.glif</string>
	<key>Rcommaaccent</key>
	<string>Rcommaaccent_.glif</string>
	<key>Ringsmall</key>
	<string>Ringsmall_.glif</string>
	<key>Rsmall</key>
	<string>Rsmall_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>Sacute_.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>Scaronsmall</key>
	<string>Scaronsmall_.glif</string>
	<key>Scedilla</key>
	<string>Scedilla_.glif</string>
	<key>Scommaaccent</key>
	<string>Scommaaccent_.glif</string>
	<key>Ssmall</key>
	<string>Ssmall_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T_h</key>
	<string>T__h.glif</string>
	<key>T_h.caron</key>
	<string>T__h.caron.glif</string>
	<key>T_h.commaaccent</key>
	<string>T__h.commaaccent.glif</string>
	<key>Tcaron</key>
	<string>Tcaron_.glif</string>
	<key>Tcommaaccent</key>
	<string>Tcommaaccent_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>Thornsmall</key>
	<string>Thornsmall_.glif</string>
	<key>Tildesmall</key>
	<string>Tildesmall_.glif</string>
	<key>Tsmall</key>
	<string>Tsmall_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Uacutesmall</key>
	<string>Uacutesmall_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Ucircumflexsmall</key>
	<string>Ucircumflexsmall_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Udieresissmall</key>
	<string>Udieresissmall_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Ugravesmall</key>
	<string>Ugravesmall_.glif</string>
	<key>Uhungarumlaut</key>
	<string>Uhungarumlaut_.glif</string>
	<key>Umacron</key>
	<string>Umacron_.glif</string>
	<key>Uogonek</key>
	<string>Uogonek_.glif</string>
	<key>Uring</key>
	<string>Uring_.glif</string>
	<key>Usmall</key>
	<string>Usmall_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>Vsmall</key>
	<string>Vsmall_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>Wsmall</key>
	<string>Wsmall_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Xsmall</key>
	<string>Xsmall_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Yacutesmall</key>
	<string>Yacutesmall_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Ydieresissmall</key>
	<string>Ydieresissmall_.glif</string>
	<key>Ysmall</key>
	<string>Ysmall_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Zacute_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zcaronsmall</key>
	<string>Zcaronsmall_.glif</string>
	<key>Zdotaccent</key>
	<string>Zdotaccent_.glif</string>
	<key>Zsmall</key>
	<string>Zsmall_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>afii61289</key>
	<string>afii61289.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersandsmall</key>
	<string>ampersandsmall.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>asuperior</key>
	<string>asuperior.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bsuperior</key>
	<string>bsuperior.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>cent.fitted</key>
	<string>cent.fitted.glif</string>
	<key>centinferior</key>
	<string>centinferior.glif</string>
	<key>centoldstyle</key>
	<string>centoldstyle.glif</string>
	<key>centsuperior</key>
	<string>centsuperior.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>colonmonetary</key>
	<string>colonmonetary.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccent</key>
	<string>commaaccent.glif</string>
	<key>commainferior</key>
	<string>commainferior.glif</string>
	<key>commasuperior</key>
	<string>commasuperior.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>degree.oldstyle</key>
	<string>degree.oldstyle.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dollar.fitted</key>
	<string>dollar.fitted.glif</string>
	<key>dollarinferior</key>
	<string>dollarinferior.glif</string>
	<key>dollaroldstyle</key>
	<string>dollaroldstyle.glif</string>
	<key>dollarsuperior</key>
	<string>dollarsuperior.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dsuperior</key>
	<string>dsuperior.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eightinferior</key>
	<string>eightinferior.glif</string>
	<key>eightoldstyle</key>
	<string>eightoldstyle.glif</string>
	<key>eightsuperior</key>
	<string>eightsuperior.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>esuperior</key>
	<string>esuperior.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>exclamdownsmall</key>
	<string>exclamdownsmall.glif</string>
	<key>exclamsmall</key>
	<string>exclamsmall.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f_f_j</key>
	<string>f_f_j.glif</string>
	<key>f_j</key>
	<string>f_j.glif</string>
	<key>ff</key>
	<string>ff.glif</string>
	<key>ffi</key>
	<string>ffi.glif</string>
	<key>ffl</key>
	<string>ffl.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>figuredash</key>
	<string>figuredash.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fiveeighths</key>
	<string>fiveeighths.glif</string>
	<key>fiveinferior</key>
	<string>fiveinferior.glif</string>
	<key>fiveoldstyle</key>
	<string>fiveoldstyle.glif</string>
	<key>fivesuperior</key>
	<string>fivesuperior.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>florin.fitted</key>
	<string>florin.fitted.glif</string>
	<key>florin.oldstyle</key>
	<string>florin.oldstyle.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fourinferior</key>
	<string>fourinferior.glif</string>
	<key>fouroldstyle</key>
	<string>fouroldstyle.glif</string>
	<key>foursuperior</key>
	<string>foursuperior.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hypheninferior</key>
	<string>hypheninferior.glif</string>
	<key>hyphensuperior</key>
	<string>hyphensuperior.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>isuperior</key>
	<string>isuperior.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>lsuperior</key>
	<string>lsuperior.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>msuperior</key>
	<string>msuperior.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nineinferior</key>
	<string>nineinferior.glif</string>
	<key>nineoldstyle</key>
	<string>nineoldstyle.glif</string>
	<key>ninesuperior</key>
	<string>ninesuperior.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>nsuperior</key>
	<string>nsuperior.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>numbersign.oldstyle</key>
	<string>numbersign.oldstyle.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>onedotenleader</key>
	<string>onedotenleader.glif</string>
	<key>oneeighth</key>
	<string>oneeighth.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>oneinferior</key>
	<string>oneinferior.glif</string>
	<key>oneoldstyle</key>
	<string>oneoldstyle.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>onethird</key>
	<string>onethird.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>orn.001</key>
	<string>orn.001.glif</string>
	<key>orn.002</key>
	<string>orn.002.glif</string>
	<key>orn.003</key>
	<string>orn.003.glif</string>
	<key>orn.004</key>
	<string>orn.004.glif</string>
	<key>orn.005</key>
	<string>orn.005.glif</string>
	<key>orn.006</key>
	<string>orn.006.glif</string>
	<key>orn.007</key>
	<string>orn.007.glif</string>
	<key>orn.008</key>
	<string>orn.008.glif</string>
	<key>orn.009</key>
	<string>orn.009.glif</string>
	<key>orn.010</key>
	<string>orn.010.glif</string>
	<key>orn.011</key>
	<string>orn.011.glif</string>
	<key>orn.012</key>
	<string>orn.012.glif</string>
	<key>orn.013</key>
	<string>orn.013.glif</string>
	<key>orn.014</key>
	<string>orn.014.glif</string>
	<key>orn.015</key>
	<string>orn.015.glif</string>
	<key>orn.016</key>
	<string>orn.016.glif</string>
	<key>orn.017</key>
	<string>orn.017.glif</string>
	<key>orn.018</key>
	<string>orn.018.glif</string>
	<key>orn.019</key>
	<string>orn.019.glif</string>
	<key>orn.020</key>
	<string>orn.020.glif</string>
	<key>orn.021</key>
	<string>orn.021.glif</string>
	<key>orn.022</key>
	<string>orn.022.glif</string>
	<key>orn.023</key>
	<string>orn.023.glif</string>
	<key>orn.024</key>
	<string>orn.024.glif</string>
	<key>orn.025</key>
	<string>orn.025.glif</string>
	<key>orn.026</key>
	<string>orn.026.glif</string>
	<key>orn.027</key>
	<string>orn.027.glif</string>
	<key>orn.028</key>
	<string>orn.028.glif</string>
	<key>orn.029</key>
	<string>orn.029.glif</string>
	<key>orn.030</key>
	<string>orn.030.glif</string>
	<key>orn.031</key>
	<string>orn.031.glif</string>
	<key>orn.032</key>
	<string>orn.032.glif</string>
	<key>orn.033</key>
	<string>orn.033.glif</string>
	<key>orn.034</key>
	<string>orn.034.glif</string>
	<key>orn.035</key>
	<string>orn.035.glif</string>
	<key>orn.036</key>
	<string>orn.036.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>osuperior</key>
	<string>osuperior.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleftinferior</key>
	<string>parenleftinferior.glif</string>
	<key>parenleftsuperior</key>
	<string>parenleftsuperior.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenrightinferior</key>
	<string>parenrightinferior.glif</string>
	<key>parenrightsuperior</key>
	<string>parenrightsuperior.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>periodinferior</key>
	<string>periodinferior.glif</string>
	<key>periodsuperior</key>
	<string>periodsuperior.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>questiondownsmall</key>
	<string>questiondownsmall.glif</string>
	<key>questionsmall</key>
	<string>questionsmall.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>rsuperior</key>
	<string>rsuperior.glif</string>
	<key>rupiah</key>
	<string>rupiah.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seveneighths</key>
	<string>seveneighths.glif</string>
	<key>seveninferior</key>
	<string>seveninferior.glif</string>
	<key>sevenoldstyle</key>
	<string>sevenoldstyle.glif</string>
	<key>sevensuperior</key>
	<string>sevensuperior.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>sixinferior</key>
	<string>sixinferior.glif</string>
	<key>sixoldstyle</key>
	<string>sixoldstyle.glif</string>
	<key>sixsuperior</key>
	<string>sixsuperior.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>ssuperior</key>
	<string>ssuperior.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>sterling.fitted</key>
	<string>sterling.fitted.glif</string>
	<key>sterling.oldstyle</key>
	<string>sterling.oldstyle.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threeeighths</key>
	<string>threeeighths.glif</string>
	<key>threeinferior</key>
	<string>threeinferior.glif</string>
	<key>threeoldstyle</key>
	<string>threeoldstyle.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threequartersemdash</key>
	<string>threequartersemdash.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>tsuperior</key>
	<string>tsuperior.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>twodotenleader</key>
	<string>twodotenleader.glif</string>
	<key>twoinferior</key>
	<string>twoinferior.glif</string>
	<key>twooldstyle</key>
	<string>twooldstyle.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>twothirds</key>
	<string>twothirds.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00A0</key>
	<string>uni00A0_.glif</string>
	<key>uni00AD</key>
	<string>uni00AD_.glif</string>
	<key>uni021A</key>
	<string>uni021A_.glif</string>
	<key>uni021B</key>
	<string>uni021B_.glif</string>
	<key>uni02C9</key>
	<string>uni02C9_.glif</string>
	<key>uni2215</key>
	<string>uni2215.glif</string>
	<key>uni2219</key>
	<string>uni2219.glif</string>
	<key>uniEFED</key>
	<string>uniEFED_.glif</string>
	<key>uniEFEE</key>
	<string>uniEFEE_.glif</string>
	<key>uniEFF1</key>
	<string>uniEFF1_.glif</string>
	<key>uniEFF2</key>
	<string>uniEFF2_.glif</string>
	<key>uniEFF3</key>
	<string>uniEFF3_.glif</string>
	<key>uniEFF5</key>
	<string>uniEFF5_.glif</string>
	<key>uniEFF7</key>
	<string>uniEFF7_.glif</string>
	<key>uniF628</key>
	<string>uniF628_.glif</string>
	<key>uniF629</key>
	<string>uniF629_.glif</string>
	<key>uniF62A</key>
	<string>uniF62A_.glif</string>
	<key>uniF62B</key>
	<string>uniF62B_.glif</string>
	<key>uniF62C</key>
	<string>uniF62C_.glif</string>
	<key>uniF62D</key>
	<string>uniF62D_.glif</string>
	<key>uniF62E</key>
	<string>uniF62E_.glif</string>
	<key>uniF62F</key>
	<string>uniF62F_.glif</string>
	<key>uniF630</key>
	<string>uniF630_.glif</string>
	<key>uniF631</key>
	<string>uniF631_.glif</string>
	<key>uniF632</key>
	<string>uniF632_.glif</string>
	<key>uniF633</key>
	<string>uniF633_.glif</string>
	<key>uniF634</key>
	<string>uniF634_.glif</string>
	<key>uniF635</key>
	<string>uniF635_.glif</string>
	<key>uniF637</key>
	<string>uniF637_.glif</string>
	<key>uniF638</key>
	<string>uniF638_.glif</string>
	<key>uniF639</key>
	<string>uniF639_.glif</string>
	<key>uniF63A</key>
	<string>uniF63A_.glif</string>
	<key>uniF63B</key>
	<string>uniF63B_.glif</string>
	<key>uniF63C</key>
	<string>uniF63C_.glif</string>
	<key>uniF63D</key>
	<string>uniF63D_.glif</string>
	<key>uniF63E</key>
	<string>uniF63E_.glif</string>
	<key>uniF63F</key>
	<string>uniF63F_.glif</string>
	<key>uniF640</key>
	<string>uniF640_.glif</string>
	<key>uniF641</key>
	<string>uniF641_.glif</string>
	<key>uniF642</key>
	<string>uniF642_.glif</string>
	<key>uniF643</key>
	<string>uniF643_.glif</string>
	<key>uniF644</key>
	<string>uniF644_.glif</string>
	<key>uniF645</key>
	<string>uniF645_.glif</string>
	<key>uniF646</key>
	<string>uniF646_.glif</string>
	<key>uniF647</key>
	<string>uniF647_.glif</string>
	<key>uniF648</key>
	<string>uniF648_.glif</string>
	<key>uniF649</key>
	<string>uniF649_.glif</string>
	<key>uniF64A</key>
	<string>uniF64A_.glif</string>
	<key>uniF64B</key>
	<string>uniF64B_.glif</string>
	<key>uniF64C</key>
	<string>uniF64C_.glif</string>
	<key>uniF64E</key>
	<string>uniF64E_.glif</string>
	<key>uniF64F</key>
	<string>uniF64F_.glif</string>
	<key>uniF650</key>
	<string>uniF650_.glif</string>
	<key>uniF651</key>
	<string>uniF651_.glif</string>
	<key>uniF652</key>
	<string>uniF652_.glif</string>
	<key>uniF653</key>
	<string>uniF653_.glif</string>
	<key>uniF654</key>
	<string>uniF654_.glif</string>
	<key>uniF655</key>
	<string>uniF655_.glif</string>
	<key>uniF656</key>
	<string>uniF656_.glif</string>
	<key>uniF657</key>
	<string>uniF657_.glif</string>
	<key>uniF658</key>
	<string>uniF658_.glif</string>
	<key>uniF659</key>
	<string>uniF659_.glif</string>
	<key>uniF65A</key>
	<string>uniF65A_.glif</string>
	<key>uniF65B</key>
	<string>uniF65B_.glif</string>
	<key>uniF65C</key>
	<string>uniF65C_.glif</string>
	<key>uniF65D</key>
	<string>uniF65D_.glif</string>
	<key>uniF65E</key>
	<string>uniF65E_.glif</string>
	<key>uniF65F</key>
	<string>uniF65F_.glif</string>
	<key>uniF660</key>
	<string>uniF660_.glif</string>
	<key>uniF661</key>
	<string>uniF661_.glif</string>
	<key>uniF662</key>
	<string>uniF662_.glif</string>
	<key>uniF663</key>
	<string>uniF663_.glif</string>
	<key>uniF664</key>
	<string>uniF664_.glif</string>
	<key>uniF665</key>
	<string>uniF665_.glif</string>
	<key>uniF666</key>
	<string>uniF666_.glif</string>
	<key>uniF667</key>
	<string>uniF667_.glif</string>
	<key>uniF668</key>
	<string>uniF668_.glif</string>
	<key>uniF669</key>
	<string>uniF669_.glif</string>
	<key>uniF66A</key>
	<string>uniF66A_.glif</string>
	<key>uniF66B</key>
	<string>uniF66B_.glif</string>
	<key>uniF66C</key>
	<string>uniF66C_.glif</string>
	<key>uniF66D</key>
	<string>uniF66D_.glif</string>
	<key>uniF66E</key>
	<string>uniF66E_.glif</string>
	<key>uniF66F</key>
	<string>uniF66F_.glif</string>
	<key>uniF671</key>
	<string>uniF671_.glif</string>
	<key>uniF672</key>
	<string>uniF672_.glif</string>
	<key>uniF675</key>
	<string>uniF675_.glif</string>
	<key>uniF676</key>
	<string>uniF676_.glif</string>
	<key>uniF678</key>
	<string>uniF678_.glif</string>
	<key>uniF679</key>
	<string>uniF679_.glif</string>
	<key>uniF67A</key>
	<string>uniF67A_.glif</string>
	<key>uniF67C</key>
	<string>uniF67C_.glif</string>
	<key>uniF67D</key>
	<string>uniF67D_.glif</string>
	<key>uniF67F</key>
	<string>uniF67F_.glif</string>
	<key>uniF685</key>
	<string>uniF685_.glif</string>
	<key>uniF686</key>
	<string>uniF686_.glif</string>
	<key>uniF689</key>
	<string>uniF689_.glif</string>
	<key>uniF68A</key>
	<string>uniF68A_.glif</string>
	<key>uniF68B</key>
	<string>uniF68B_.glif</string>
	<key>uniF68C</key>
	<string>uniF68C_.glif</string>
	<key>uniF68E</key>
	<string>uniF68E_.glif</string>
	<key>uniF68F</key>
	<string>uniF68F_.glif</string>
	<key>uniF690</key>
	<string>uniF690_.glif</string>
	<key>uniF692</key>
	<string>uniF692_.glif</string>
	<key>uniF693</key>
	<string>uniF693_.glif</string>
	<key>uniF695</key>
	<string>uniF695_.glif</string>
	<key>uniF696</key>
	<string>uniF696_.glif</string>
	<key>uniF697</key>
	<string>uniF697_.glif</string>
	<key>uniF698</key>
	<string>uniF698_.glif</string>
	<key>uniF699</key>
	<string>uniF699_.glif</string>
	<key>uniF69B</key>
	<string>uniF69B_.glif</string>
	<key>uniF69D</key>
	<string>uniF69D_.glif</string>
	<key>uniF69E</key>
	<string>uniF69E_.glif</string>
	<key>uniF6A0</key>
	<string>uniF6A0_.glif</string>
	<key>uniF6A1</key>
	<string>uniF6A1_.glif</string>
	<key>uniF6A2</key>
	<string>uniF6A2_.glif</string>
	<key>uniF6A3</key>
	<string>uniF6A3_.glif</string>
	<key>uniF6AB</key>
	<string>uniF6AB_.glif</string>
	<key>uniF6AC</key>
	<string>uniF6AC_.glif</string>
	<key>uniF6AD</key>
	<string>uniF6AD_.glif</string>
	<key>uniF6AE</key>
	<string>uniF6AE_.glif</string>
	<key>uniF6AF</key>
	<string>uniF6AF_.glif</string>
	<key>uniF6B0</key>
	<string>uniF6B0_.glif</string>
	<key>uniF6B1</key>
	<string>uniF6B1_.glif</string>
	<key>uniF6B2</key>
	<string>uniF6B2_.glif</string>
	<key>uniF6B3</key>
	<string>uniF6B3_.glif</string>
	<key>uniF6B4</key>
	<string>uniF6B4_.glif</string>
	<key>uniF6B5</key>
	<string>uniF6B5_.glif</string>
	<key>uniF6B6</key>
	<string>uniF6B6_.glif</string>
	<key>uniF6B7</key>
	<string>uniF6B7_.glif</string>
	<key>uniF6B8</key>
	<string>uniF6B8_.glif</string>
	<key>uniF6B9</key>
	<string>uniF6B9_.glif</string>
	<key>uniF6BA</key>
	<string>uniF6BA_.glif</string>
	<key>uniF6BB</key>
	<string>uniF6BB_.glif</string>
	<key>uniF6BC</key>
	<string>uniF6BC_.glif</string>
	<key>uniF6BD</key>
	<string>uniF6BD_.glif</string>
	<key>uniF6DC</key>
	<string>uniF6DC_.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yen.fitted</key>
	<string>yen.fitted.glif</string>
	<key>yen.oldstyle</key>
	<string>yen.oldstyle.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zeroinferior</key>
	<string>zeroinferior.glif</string>
	<key>zerooldstyle</key>
	<string>zerooldstyle.glif</string>
	<key>zerosuperior</key>
	<string>zerosuperior.glif</string>
</dict>
</plist>
